* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkseagreen;
  color: white;
  text-align: center;
  font-family: "Fredoka One", sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  column-gap: 2rem;
}

.art {
  width: 400px;
  height: auto;
  background-color: #f94f6d;
}

.increase {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: gainsboro;
}

.vote,
.counter {
  width: 50%;
  font-size: 1.5rem;
}

button {
  border-right: 5px solid #1b244a;
  border-style: none;
  padding: 10px;
  background-color: transparent;
  color: #1b244a;
  font-family: "Fredoka One", sans-serif;
}

.counter {
  height: max-content;
}

h3 {
  font-size: 2.7rem;
  display: none;
}

h4 {
  background-color: black;
  color: #f94f6d;
  font-size: 5rem;
  padding: 2rem;
  margin-top: 20px;
}

.button {
  width: 100%;
  background-color: orangered;
  /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.button1 {
  background-color: #f44336;
  color: white;
  border-radius: 20px;
  margin-bottom: 25px;
}

.button:hover {
  background-color: orange;
  color: white;
}

button:hover i,
button:hover span {
  /* this works */
  color: #f44336;
}

.counterStat {
  color: white;
  font-size: 19px;
  font-weight: 200;
}

.alert {
  padding: 15px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
}

.redalert {
  padding: 15px;
  border-radius: 4px;
  color: beige;
  background-color: red;
}

.invisible {
  display: none;
}

.voted {
  color: red;
}

.question {
  font-size: 1rem;
  color: #008cba;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
